<!DOCTYPE html>
<html>
    <head>
        <title>ShibaEats</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    
    <body>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        <div id="landing-header">
     		<h1>Welcome to ShibaEats!</h1>
    		<a href="/dishes" class="btn btn-lg btn-success">View All Dishes</a>
		    <div class="userAuth">
    		    <% if(!currentUser){ %>
    		        <a class="btn btn-sm btn-primary" href="/login">Login</a>
                    <a class="btn btn-sm btn-primary" href="/register">Sign Up</a>
                <% } else { %>
                    <a class="btn btn-sm btn-warning" href="/users/<%= currentUser._id %>"><em>My Profile</em></a>
                    <a class="btn btn-sm btn-danger" href="/logout"><em>Logout</em></a>
                <% } %>
		    </div>
    		<p>
                <form action="/dishes" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Dish search..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

<% include partials/footer %>